<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>主页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">open API</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;来伊份OPEN_API</h3>
        <ul>
            <li>对外提供用户基本信息服务</li>
            <li>对外提供用户积分服务</li>
            <li>对外提供商品服务</li>
            <li>……</li>
        </ul>
    </div>
</div>
</body>
</html>